.first{
    background-image: url('/andre-benz-cXU6tNxhub0-unsplash.jpg');
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 300px;
    padding-top: 300px;
}
.second{
    background-image: url('/nasa-Q1p7bh3SHj8-unsplash.jpg');
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 300px;
    padding-top: 300px;
}
.third{
    background-image: url('/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg');
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 300px;
    padding-top: 300px;
}
.car-t{
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}
.car-text{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    width: 700px;
}
.check .card:hover{
    background: #ff6e4a;
    transition: 0.7s;
    transform: translateY(-10px);
}
.check .card:active{
    background: #000;
    transition: 0.7s;
    transform: translateX(10px);
}
.card:hover .card-t,
.card:hover .card-text,
.card:hover .bi{
    color: #fff;
}
.card-t{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #151461;
}
.card-text{
    font-size: 18px;
    font-weight: 400;
    color: #949494; 
}
.check{
    background: #f5f5f5;
}
.ch-s{
    font-size: 40px;
    font-weight: 800;
    color: #151461;
}
.ch-t{
    font-size: 20px;
    font-weight: 500;
    color: #949494;
    display: flex;
    align-items: center;
}
.lin{
    display: block;
    width: 150px;
    height: 2px;
    background: crimson;
    margin-left: 20px;
}
.test{
    background-color: #f6f9fd;
    padding: 70px 0;
}
.mon{
    width:90%;
    background: #fff;
    padding: 20px 60px;
    box-shadow: 5px 5px 10px 1.5px #d8d8d8;
}
.mon:nth-child(1){
    margin-left: 60px;
}
.indi{
    position: relative;
    top: 50px;
    left: 25px;
}
.tes-man{
    width: 90px;
    border-radius: 5px;
    height: 90px;
    object-fit: cover;
}
.tes-img{
    width: 110px;
    border-radius: 5px;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    left: -120px;
    top: 70px;
}
.tes-info{
    position: relative;
    top: -40px;
}
.call{
    padding: 80px 0;
    background: #0b2341;
    color: white;
}
.call-t{
    font-size: 35px;
    font-weight: 800;
}
.call-text{
    font-size: 25px;
    font-weight: 300;
}
.call .btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 25px;
}
.menu{
    width: 300px;
    margin: auto;
    
}
ul{
    display: flex;
    display: flex;
    justify-content: space-between;
}
.port a{
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: #4e4e4e;
}
li{
    list-style: none;
}
a:hover{
    color: #ff6e4a;
    transition: 0.5s;   
}
.port img{
    box-shadow: 5px 5px 20px 1.5px #8b8b8b40;
    border-radius: 10px;
}
.port img:hover{
    box-shadow:none;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0.5;
}
.our .card{
    box-shadow: 5px 5px 20px 1.5px #b6b6b640;
    background: #fff;
}
.border{
    padding: 100px 40px !important;
    border: 4px solid #ed502e !important;
    position: relative;
    top: -50px;
}
.our .btn{
    font-size: 20px;
    padding: 10px 35px;
    font-weight: 600;
}
.card-tt{
    font-size: 50px;
    font-weight: 200;
}
.card-ss{
    font-size: 45px;
}
.card-textt{
    font-size: 20px;
    font-weight: 600;
    color: #949494;
}
.c-c-t{
    font-size: 20px;
    font-weight: 300;
    color: #949494;
}